body
{
   background: #ffffff;
   text-align: center;
}

.top{
  display: flex;   
}

.tittle{
    font-size: 20px;
    margin-top: 0%;
    margin-left: 10%;
    font-family: 'Righteous', cursive;
}
.svgg{
    margin-left: 27%;
}



.button0 {
  padding: 5px 5px;
  height: 15%;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  background-color: #E7F0DC;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  font-family: "Rajdhani", sans-serif;
}


.button0:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}


.buttonss{
    display: flex;
    position: relative;
    background: #E7F0DC;
    padding: 10px;
    border-radius: 10px;
}

.b1 {
  padding: 10px 10px;
  width: 55%;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  background-color: #EEEDEB;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  font-family: 'Righteous', cursive;
  margin-left: 3%;
  color: #B43F3F;
}
#b2{
  margin-left: 5%;
}

.b1:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}




















